/* Styling heavily influenced by the starter code that was provided
*  but I changed it to make it my own.
*  I followed the styling based on the SMACCS architecture as best I could
*  as the starter code did. Learn more at http://smacss.com/
*/

/* App-wide styling */
body {
  margin: 0;
  width: 100%;
  background-image: linear-gradient(to top left, rgba(2, 149, 194, 0.74), rgba(0, 37, 48, 1));
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  color: white;
}

p {
  font-family: 'Source Serif Pro', serif;
  color: white;
  line-height: 1.5em;
  font-size: 1em;
}

main {
  margin: 10vh 1em 10vh;
}

section {
  position: relative;
  min-height: 75vh;
}

/* Heading Styles */
.main-header {
  min-height: 40vh;
  padding-top: 3em;
}

h1 {
  font-size: 3.5em;
  font-weight: 900;
}

h2 {
  font-size: 2.5em;
  font-weight: 700;
  border-bottom: 1px solid aquamarine;
}

/* Styling the sections for larger screens */
@media screen and (min-width: 600px) {
  h1 {
    font-size: 6em;
    padding-left: 3rem;
  }

  h2 {
    font-size: 3.5em;
  }

  section:nth-of-type(odd) .section-container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
  }

  .section-container {
    max-width: 75%;
    padding: 3em;
  }
}

/* Footer Styling */
.page-footer {
  background: black;
  padding: 3rem;
}

/* Styling for the active section */
section.active-class {
  background: linear-gradient(to top left, rgba(6, 30, 241, 0.15), rgba(89, 147, 165, 0.5));
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.5);
}

/* Styling for the Navigation bar */
.nav-header {
  background:  rgba(0, 37, 48, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-links ul {
  text-align: left;
  margin: 0;
  padding-right: 0;
}

.nav-links li {
  display: inline-block;
}

.nav-links .nav-links a {
  display: block;
  padding: 1em;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.nav-links .nav-links a:hover {
  background: deepskyblue;
  color: white;
  transition: ease-in 0.5s all;
}
/*
<header class="page__header">
  <nav class="navbar__menu">
    <!-- Navigation starts as empty UL that will be populated with JS -->
    <ul id="navbar__list"></ul>
  </nav>
</header>
*/